* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header img{
   width:100%;
    background-color:#74659a;
    border-radius: 3px;
    margin-top: -6px;
    
}


.search-input {
    padding: 10px;
    font-size: 16px;
    width: 350px;
    border: 0.5px solid #0000//;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
    direction:rtl;
    margin-left:20px;
}

.search-input:focus {
    border-color:;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: -5px;
}

.category-box {
    background-color: #fff;
    color:#74659a;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 29%;
    height: 105px;
    margin: 5px;
    padding: 5px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s ease-in-out;
}

.category-box h3 {
    font-size: 15px;
    color:#000000;
    margin-bottom: 15px;
    text-align: center;
    font-family: Impact, sans-serif;
}

.category-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.home img{
width:30px;
 height:30px;
 margin-top:170px;
 position:absolute;
 margin-left:285px;
    
}
.home h3{
   width:40px;
   height:40px;
   margin-top:200px
   ;position: absolute;
   margin-left:280px;
   font-size:15px;
   color: #74659a;
}
.user_info img{
    width:30px;
    height:30px;
    margin-top:170px;
    position:absolute;
    margin-left:65px;
}
.user_info h3{
   width:40px;
   height:40px;
   margin-top:200px;
   position:absolute;
   margin-left:60px;
   font-size:15px;
   color:#74659a;"
}
