* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.page_main{
    width:100%; 
    height: 50px;
    margin-top: -20px;
    background-color:#74659a;
    
}
.page_main h2{
    color:#ffffff;
    text-align: center;
    
}

.menu-container {
    position: relative;
    display: inline-block;
}

/* Style for the image button */
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
}
.menu-button img{
    width: 30px;
    height: 28px; 
    margin-top: -55px;
    margin-left: 359px;
    position: absolute;
}

/* Image styling */
.menu-icon{
    width: 30px;
    height: 28px; 
    margin-top: -55px;
    margin-left: 359px;
    position: absolute;   
    
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: -5px;
}

.category-box {
    background-color: #fff;
    color:#74659a;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 28%;
    height: 115px;
    margin: 5px;
    padding: 5px;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s ease-in-out;
}

.category-box h3 {
    font-size: 15px;
    color:#000000;
    margin-bottom: 15px;
    text-align: center;
    font-family: Impact, sans-serif;
}

.category-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.home {
    
    margin-top: -80px;
}
.home img{
width:30px;
 height:30px;
 margin-top:170px;
 position:absolute;
 margin-left:285px;
    
}
.home h3{
   width:40px;
   height:40px;
   margin-top:200px
   ;position: absolute;
   margin-left:280px;
   font-size:15px;
   color: #74659a;
}
user_info {
    margin-top: -80px;
}

.user_info img{
    width:30px;
    height:30px;
    margin-top:170px;
    position:absolute;
    margin-left:65px;
}
.user_info h3{
   width:40px;
   height:40px;
   margin-top:200px;
   position:absolute;
   margin-left:60px;
   font-size:15px;
   color:#74659a;"
}
